.watermark{
    float:right;
    height:100px;
    width:100px
}

.marine{
    float:left;
    height:200px;
    width:200px;
}

.text{
    width:70px;
    height:20px;
}

.text1{
    width:75px;
    height:20px;
}



.nav{
    height:50px;
    width:50px;
}
.wellness-sec{
    position: relative;
    overflow: hidden;
    background: #82C3F4;
    padding: 16px;
    margin: -46px 28px 0px;
    border-radius: 20px;
}

.wellness-sec .shopcards-sec .cards-link {
    text-decoration: none;
    display: block;
    background: #FFF7EB;
    border-radius: 20px;
    padding: 16px 8px;
    text-align: center;
}



li {
    display: inline;
}

a {
    display: block;
    padding: 8px;
    background-color: #82C3F4;
}

.pad-inline-24 {
    padding-inline: 1.5rem;
}

.pad-block-20 {
    padding-block: 1.25rem;
}

.bg-gray-30 {
    background-color: #82C3F4;
}

:root * {
    box-sizing: border-box;
}

div {
    display: block;
}

style attribute {
    --sidebar-target-width: 22rem;
}