.watermark{
    width:70px;
    height:70px;
    position: fixed;
    top: 0;
    right: 20px ;
}

.marine{
    width:300px;
    height: 300px;
    position: fixed;
    top: 0;
    left: 10px;
}

.pagechange{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    padding-top: 19px;
}

.navbar{
    height:100px;
    width: 100px;
}

.quiz{
    height:120px;
    width:120px;
}

li {
    display: inline;
  }  
a {
    display: block;
    padding: 8px;
    background-color: #82C3F4;
}

li:hover{
    background-color:blue;
    text-decoration: underline;
}