.pagechange{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    padding-top: 19px;
}

.navbar{
    height:100px;
    width: 100px;
}

li {
    display: inline;
  }  
a {
    display: block;
    padding: 8px;
    background-color: #82C3F4;
}

li:hover{
    background-color: #82C3F4;
    text-decoration: underline;
}